// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&display=swap');

.dx-widget{
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.dx-field-item-label-text{
    font-family: 'PT Sans Narrow', sans-serif !important;
}

.dx-widget input, .dx-widget textarea{
    font-family: 'PT Sans Narrow', sans-serif !important;
}