$main-background-color: #FBFBF2;
$main-text-color: #A6A2A2;
$main-border-color: #284B63;
$secondary-background-color: #FEFCFB;
$secondary-text-color: #0A1128;
$header-background-color: $main-background-color;
$header-text-color: $main-text-color;
$card-background-color: $main-background-color;
$card-text-color: $main-text-color