$main-background-color: black;
$main-text-color: white;
$secondary-background-color: white;
$secondary-text-color: black;
$header-background-color: $main-background-color;
$header-text-color: $main-text-color;
$card-background-color: $main-background-color;
$card-text-color: $main-text-color