@import "../../../styles/global.scss";

.ComponentContainer__container {
  max-width: 100%;
  min-width: 25em;
  background: $secondary-background-color;
  color: $secondary-text-color;
  border-radius: 0.3em;
  min-height: calc(100% - 11em);
  max-height: calc(100% - 1em);
  display: grid;
  grid-template-rows: 2.5em calc(100% - 2.5em);
  overflow: hidden;
  border: 1px solid $main-border-color;
  box-shadow: 6px 5px 9px rgba(0, 0, 0, 0.3),
    3px -4px 5px rgba(0, 0, 0, 0.1) inset, -6px 4px 7px rgba(0, 0, 0, 0.3);
}

.ComponentContainer__title {
  padding: 0.5em;
  border-bottom: 1px solid $main-border-color;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.ComponentContainer__component {
  padding: 0.5em;
  overflow-y: auto;
  overflow-x: hidden;
}
